
<button class="repo-button-follow">
  <span class="repo-label">Follow</span>
  {{#if name}}
  <span class="repo-name">{{name}}</span>
  {{/if}}
  {{#if count}}
  <span class="repo-count">{{count}}</span>
  {{/if}}
</button>
